body
{
  font-family: 'Lato', sans-serif;

  margin: 0;
  padding: 0;
}

nav ul
{
  font-size: 1.125em;

  float: right;

  margin-bottom: 21px;
}

nav ul li
{
  line-height: 61px;

  display: inline-block;

  color: #47525e;
}

a
{
  text-decoration: none;

  color: #47525e;
}

nav ul li:nth-child(1)
{
  margin-right: 43px;
}

nav ul li:nth-child(2)
{
  margin-right: 36px;
}

nav ul li:nth-child(3)
{
  margin-right: 32px;
}

nav ul li:nth-child(4)
{
  margin-right: 30px;
}

nav ul li:nth-child(5)
{
  margin-right: 29px;
}

nav ul li:nth-child(6)
{
  margin-right: 75px;
  margin-bottom: -1px;

  vertical-align: middle;
}

nav ul li:nth-child(6) img
{
  width: 18px;
  height: auto;

  background-color: rgba(255, 255, 255, 0);
}

header
{
  display: flex;
  clear: both;

  padding: 0 30px;

  background-color: #f2f2f2;

  justify-content: space-evenly;
  flex-wrap: wrap;
}

header figure
{
  height: 266px;
  margin: 20px 10px;
}

header figure:nth-child(1) img
{
  height: 81%;
  margin-top: 4px;
}

header figure:nth-child(2) img
{
  height: 83%;
}

header figure:nth-child(3) img
{
  height: 84%;
  margin-top: -1px;
}

header figure figcaption
{
  font-size: .750em;
  font-weight: 300;

  position: relative;

  width: 134px;
  padding: 26px 0 32px;

  text-align: center;

  color: #47525e;
  border: 1px solid #cfcfcf;
  background: #fff;
}

header figure:nth-child(1) figcaption
{
  top: -47px;
  left: 96px;

  padding-bottom: 38px;
}

header figure:nth-child(2) figcaption
{
  top: -49px;
  left: 140px;
}

header figure:nth-child(3) figcaption
{
  top: -55px;
  left: 102px;

  padding-top: 32px;
}

header figure figcaption::after
{
  display: block;

  width: 70px;
  height: .5em;
  margin: 0 auto;

  content: '';

  border-top: 2px solid #47525e;
}

header figure:nth-child(1) figcaption::after
{
  margin-top: 6px;
}

header figure:nth-child(2) figcaption::after
{
  margin-top: 10px;
}

header figure:nth-child(3) figcaption::after
{
  margin-top: 8px;
}

section
{
  overflow: hidden;

  margin: 51px 10%;
}

section article
{
  float: left;

  width: 45%;
  padding: 0 8% 5%;

  background-color: #f6f6f7;
}

section article h1
{
  font-size: 15px;
  line-height: 18px;

  margin-top: 35px;

  text-align: center;
  text-transform: uppercase;

  color: #47525e;
}

section article img
{
  width: 90%;
  height: auto;
  margin-top: 8px;
}

section article p
{
  font-size: 1em;
  line-height: 1.26em;

  width: 98%;
  margin-top: 43px;

  text-align: left;

  color: #47525e;
}

section article p:last-child
{
  margin-top: 18px;
}

section article div
{
  text-align: center;
}

aside
{
  float: left;

  width: 30%;
  margin-left: 9%;

  text-align: center;
}

aside h2
{
  font-size: 1em;

  color: #47525e;
}

aside h2::after
{
  display: block;

  width: 119px;
  height: .5em;
  margin: 0 auto;
  margin-top: 8px;

  content: '';

  border-top: 2px solid #47525e;
}

aside img
{
  width: 35%;
  margin-top: -6px;
}

aside div:first-child
{
  margin-top: 24px;
}

aside div:last-child
{
  margin-top: 58px;
}

aside p
{
  font-size: .750em;
  font-weight: 400;
  line-height: 15px;

  width: 56%;
  margin: 7% 26% 0;

  text-align: left;

  color: #47525e;
}

aside p span
{
  display: block;
}

aside div:last-child h2::after
{
  margin-bottom: -5px;
}

aside div:last-child input
{
  display: block;
}

form
{
  width: 182px;
  margin: 0 auto;
}

form input:first-child
{
  font-size: 17px;

  width: 95%;
  height: 33px;
  padding-left: 12px;

  border: 1px solid #47525e;
  border-radius: 5px;
  outline: none;
}

form textarea
{
  font-size: 17px;

  width: 96%;
  height: 107px;
  margin-top: 12px;
  margin-bottom: 6px;
  padding: 21px 0 0 11px;

  border: 1px solid #47525e;
  border-radius: 5px;
  outline: none;
}

form input[type=submit]
{
  font-size: 1.125em;

  width: 102%;
  padding: 14px 0;

  color: #fff;
  border: none;
  border-radius: 7px;
  background-color: #47525e;
}

footer
{
  font-size: 1.125em;

  clear: both;

  margin-top: 50px;
  padding: 88px 0 95px 0;

  text-align: center;

  color: #fff;
  background-color: #47525e;
}

footer p span
{
  display: inline-block;

  margin-left: 19px;
}

@media (max-width: 820px)
{
  section article,
  section aside
  {
    width: 100%;
  }

  section article
  {
    padding: 0;
    padding-bottom: 5%;
  }

  section article div:last-child
  {
    margin: 0 7%;
  }

  section aside
  {
    margin: 0;
  }
}

@media (max-width: 468px)
{
  nav ul
  {
    font-size: .8em;
  }

  nav ul li
  {
    margin-right: 6px !important;
  }

  nav ul li:nth-child(6) img
  {
    width: 14px;
  }

  header figure
  {
    height: 190px;
  }

  header figure:nth-child(1) figcaption,
  header figure:nth-child(3) figcaption
  {
    left: 20%;
  }

  header figure:nth-child(2) figcaption
  {
    left: 28%;
  }

  header
  {
    padding-bottom: 20px;
  }
}
