body {
	margin: 0;
	padding: 0;
}

h2 {
  font-style: italic;
  text-transform: lowercase;
  margin-bottom: 0px;
}

.text-uppercase {
  font-style: normal;
  display: block;
	text-transform: uppercase;
}

div {
  width: 100px;
  color: black;
  border: 1px solid black;
  margin: 0 auto;
}

.magazine-photo {
	text-align: center;
	background: url(http://raiscake.me/files/fashion-bg.jpg) no-repeat;
	background-size: 100% auto;
	height: 500px;
	width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
