.contact--container {
	max-width: 400px;
	margin: 0 auto;
	background-image: linear-gradient(-45deg, #FF525F,#FF9F98);
	border-radius: 10px;
	padding: 20px 10px;
}

.contact--info {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contact--info img {
	border-radius: 10px;
}

.contact--name {
	font-family: 'Acme', sans-serif;
	text-align-last: left;
	text-transform: uppercase;
	margin: 5px 0;
}

.contact--info hr {
	border-style: dashed;
	border-color: #fff;
}

.contact--email {
	text-transform: lowercase;
}

.contact--location {
	margin: 10px 15px;
}

.contact--location div{
	padding: 15px;
	border-radius: 5px;
	background-color: #FFE6E4;
}

.contact--location h3{
	margin: 0;
	margin-bottom: 5px;
}

.contact--location p{
	color: #2B2D35;
}

